- if @restaurant.errors.any?
  %section#errors
    %h2
      = pluralize(@restaurant.errors.count, 'error')
      prohited this restaurant from being saved
    %ul
      - @restaurant.errors.full_messages.each do |msg|
        %li= msg

= form_for @restaurant, html: { multipart: true } do |f|
  = f.label :name
  = f.text_field :name
  = f.file_field :image
  = f.submit
