%p= @restaurant.name
%p= @restaurant.description
- if @restaurant.reviews.any?
  %ul
  - @restaurant.reviews.each do |review|
    %li
      = review.thoughts
      %strong= review.rating
      \/5
      - if review.user == current_user
        = link_to "Delete Review", review_path(review), method: :delete
      = link_to "Endorse Review", review_endorsements_path(review, @restaurant), method: :post
- else
  %p No reviews
