%p= @restaurant.name
%p= @restaurant.description
- if @restaurant.reviews.any?
  %ul
  - @restaurant.reviews.each do |review|
    %li
      = review.thoughts
      %strong= review.rating
      \/5
      %span.endorsements_count= review.endorsements.count
      = 'endorsement'.pluralize review.endorsements.count
      - if review.user == current_user
        = link_to "Delete Review", review_path(review), method: :delete
      - unless review.endorsements.any? { |endorsement| endorsement.user == current_user }
        = link_to "Endorse Review", review_endorsements_path(review), class: 'endorsements-link'
- else
  %p No reviews
